---
layout: default
bodyClass: alumni
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/sAlum.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Alumni
        p Edoe, founder of alum.ni, asked me to research and improve user engagment on the site. Alumni were eager to signup but growing community engagement was a challenge.
        p Through a series of design studios with the distributed team, I identified shortcomings in experience and how to better build an engaging network.
        p Existing features and design patterns were surveyed and parsed before iterative prototypes and a UX report were delivered to Alum.ni for development.
        p
          a.pure-button.pure-button-primary(href='http://beta.alum.ni') See Alum.ni

section#showcase
  .pure-g
    .pure-u-1
      img.pure-img(src="../img/sAlum2.png")
