---
layout: default
bodyClass: edgevale
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/sEdgevale1.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Edgevale
        p I met Tony, Edgevale's sole proprietor while buying a shirt from his clothing manufacturing shop in Oakland. We got to talking and he asked if I could redesign his eCommerce experience. There was some major usability flags that were more than likely leading to customer dropoffs during checkout. Working with local illustrator, <a href="https://dribbble.com/theGoldenWest">Bret Baker</a>, we redesigned the aesthetics and user interface of the online shop.
        h4 Timber Shopify Framework
        h4 Liquid Templating
        h4 eCommerce Usability Report
        p In Production

section#showcase
  .pure-g
    .pure-u-1.pure-u-md-1-2.gTypelift
      img.pure-img(src="../img/gEdgevale.png")
    .pure-u-1.pure-u-md-1-2.gTypelift
