--- yaml
layout: default
bodyClass: index
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .wrapper
        img(src="../img/logo.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h3 Hi, this is Record Famous!<br> I'm Vikram, a designer who crafts experiences with html, css, javascript & empathy. I'm a visualist who likes minimal & meaninful interfaces.

section#gallery
  .pure-g
    .pure-u-1.pure-u-md-1-2.gTypelift
      a(href="/typelift")
        img.pure-img(src="../img/gTypelift.png")
    .pure-u-1.pure-u-md-1-2.gAlumni
      a(href="/alumni")
        img.pure-img(src="../img/gAlumni.png")
    .pure-u-1.pure-u-md-1-2.gRoastco
      a(href="/roastco")
        img.pure-img(src="../img/gRoastco.png")
    .pure-u-1.pure-u-md-1-2.gWalk
      a(href="/walk")
        img.pure-img(src="../img/gWalk.png")
    //- .pure-u-1.pure-u-md-1-2.gEdgevale
    //-   a(href="/edgevale")
    //-     img.pure-img(src="../img/gEdgevale.png")
    .pure-u-1.pure-u-md-1-2
      .gTapefamous
        a(href="/tapefamous")
          img.pure-img(src="../img/gTapefamous.png")
      .gSillycards
        a(href="/sillycards")
          img.pure-img(src="../img/gSillycards.png")
    .pure-u-1.pure-u-md-1-2
      .wrapper
        h3 Other Projects
        h4 Lifelock: Authored a UI expert review, 2014
        h4 Alum.ni: Conducted a UX survey on user engagement & produced prototypes, 2014
        h4 Gray Area Arts, Creative Code Summer Immersive, 2014

section#about
  .pure-g
    .pure-u-1.pure-u-md-1-3
      h2 Frontend
      h5 HTML, SCSS & JS
      p Versed in visual design, typography & code, each project requires a different formula. I work with webapps, content management systems and static sites.
    .pure-u-1.pure-u-md-1-3
      h2 User Experience
      h5 Research & Interaction
      p Pairing psychology with design research to harmonize intuitions and data observations. I've done Usability Studies, A/B Testing & Information Architecture.
    .pure-u-1.pure-u-md-1-3
      h2 Prototyping
      h5 Sketch 3, AngularJS & Mobile
      p Bringing Frontend and Experience Design together to build mock-ups and prototypes. I deliver static and dynamic app assets for developer teams.
