---
layout: default
bodyClass: roastco
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      a(href="#")
        img.pure-img(src="../img/sRoastco1.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 RoastCo
        p RoastCo coffee is a local coffee favorite. They asked me to update their online store and simplify their site for maintainability. I brought in <a href="http://amyleekatz.com">Amy Katz</a> to add illustrations for their print projects.
        h4 Timber Shopify Framework
        h4 Liquid Templating
        h4 eCommerce Usability Report
        p
          a.pure-button.pure-button-primary(href='http://roastco.com') See RoastCo

section#showcase
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/gRoastco.png")
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/sRoastco2.png")
