---
layout: default
bodyClass: sillycards
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Silly Cards
        p I use Twitter, a lot, mostly to tweet short puns. Wanting to do something enigmatic, I started sketching short tweets and photographing them against odd backdrops.
        h4 Headlines
        h4 Instagram
        h4 Twitter
        p
          a.pure-button.pure-button-primary(href='http://instagram.com/recordfamous') See Silly Cards

section#showcase
  .pure-g
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc9.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc1.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc3.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc4.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc5.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc6.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc7.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc13.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc8.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc10.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc11.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/sc12.jpg")
