---
layout: default
bodyClass: tapefamous
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/sTape1.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Tape Famous
        p I launched Tape Famous in 2013 as a project directed towards millenial culture. It's grown in popularity since with a loyal following. The design ambitions were to showcase simple imagery of physical products, alongside short & medium form reviews. I'm working on a newer platform for Tape Famous that should be scalable and easier to use.
        h4 Photography
        h4 Content Writing
        h4 Tumblr
        p
          a.pure-button.pure-button-primary(href='http://tapefamous.com') See Tape Famous

section#showcase
  .pure-g
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st1.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st2.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st3.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st4.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st5.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st6.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st7.jpg")
    .pure-u-1-2.pure-u-md-1-4
      img.pure-img(src="../img/st8.jpg")
