---
layout: default
bodyClass: typelift
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/s1.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Typelift
        p I've been tooling with webtype quite a while. I was starting to find the process of font adjustment tedious. One weekend I built a typographic sandbox that was capable of running in browser. All to explore modular scales, vertical rythyms & font sizing in Typography relating to this equation below.
        code Math.pow(msRatio,x)*msBase
        h4 AbsurdJS
        h4 JS Processed CSS
        h4 Pure Framework
        p
          a.pure-button.pure-button-primary(href='http://vikrambabu.github.com/typelift') See Typelift

section#showcase
  .pure-g
    .pure-u-1.pure-u-md-1-2.gTypelift
      img.pure-img(src="../img/gTypelift.png")
    .pure-u-1.pure-u-md-1-2.gTypelift
      img.pure-img(src="../img/s2.png")
