---
layout: default
bodyClass: typelift
---

section#intro
  .pure-g
    .pure-u-1.pure-u-md-1-2
      img.pure-img(src="../img/sw1.png")
    .pure-u-1.pure-u-md-1-2.info
      .wrapper
        h1 Walk Prototype
        p A friend asked me about walking meditation and how a product could be designed to fit into our work life. As a practioner of meditation, I was curious about the concept. Here are two iterations of a simple meditation interface.
        h4 Sketch 3
        h4 Paper Prototyping
        h4 Product Research
        p Prototype only

section#showcase
  .pure-g
    .pure-u-1.gTypelift
      img.pure-img(src="../img/sw2.png")
